
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* generating fonts */
.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

.inter{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

/* webpage designing */

.head-section{
    max-width: 10vw;
    width: 100%;
    height: 700px;
}

